body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: wheat;
  text-align: center;
}

heading {
  text-align: center;
  font-size: 2em;
  color: black;
  margin: 20px 0 30px;
}

.card-details {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: aqua;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.upper-details {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.card-details img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 110px;
  height: 110px;
}

.imgheading {
  font-size: 2em;
  color: grey;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.lower-details {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: blueviolet;
}
